{% extends 'base.html' %}

{% block title %} Django test page {% endblock %}

{% block header %}
{{ welcome|safe }}
{% endblock %}

{% block content %}


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ article_fields.as_table }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<p></p>
<div>
    <h4>Result: </h4>
    <div class="card bg-light text-dark">
        <div class="card-body">
            <strong>{{ proj }}</strong>: {{ article_data }}
        </div>
    </div>
</div>

{% endblock %}